# URL da API de IA (Fly.io)
API_IA_URL=https://projeto-lista-api.fly.dev

# URL da API principal (Fly.io)
API_URL=https://projeto-lista-api.fly.dev

# URL da API de cortes (Fly.io) e ID da conta TikTok
PROJETO_CORTES_URL=https://projetocortes.fly.dev
TIKTOK_ACCOUNT_ID=dml6YXJkLTItMTg1MDkz
