# URL da API de IA (opcional, padrao: http://localhost:3000)
API_IA_URL=http://localhost:3000

# URL da API principal (opcional, padrao: http://201.23.69.230:3000)
API_URL=http://201.23.69.230:3000

# URL da API de cortes e ID da conta TikTok
PROJETO_CORTES_URL=http://localhost:3001
TIKTOK_ACCOUNT_ID=dml6YXJkLTItMTg1MDkz
